[submodule "submodules/arcanist"]
	path = submodules/arcanist
	url = https://github.com/phacility/arcanist.git
[submodule "submodules/libphutil"]
	path = submodules/libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "submodules/vim-monokai"]
	path = submodules/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "submodules/diff-so-fancy"]
	path = submodules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
